<!doctype html>
<html lang="en">

<head>
    {% if title %}
    <title>Sucide Rate-{{title}}</title>
    {%else%}
    <title>Sucide Rate</title>
    {%endif%}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="preconnect"
        href="https://fonts.googleapis.com">
    <link rel="preconnect"
        href="https://fonts.gstatic.com"
        crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto:wght@100&family=The+Nautigal:wght@700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet"
        href="{{url_for('static' , filename ='main.css')}}"
        type="text/css">
</head>

<body>
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark"
        style="background-color: #3d4fb3;">
        <a class="navbar-brand"
            href="/landing">Home</a>
        <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end"
            id="navbarNavDropdown">
            <ul class="nav justify-content-end">
                <li class="nav-item dropdown">
                    <a class="nav-link  btn"
                        href="#"
                        id="navbarDropdown"
                        role="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                        Analysis By Countries
                    </a>
                    <div class="dropdown-menu"
                        aria-labelledby="navbarDropdown">
                        <a class="dropdown-item"
                            href="/us">United states</a>
                        <a class="dropdown-item"
                            href="/uk">United Kingdom</a>
                        <a class="dropdown-item"
                            href="/Russia">Russia</a>
                        <a class="dropdown-item"
                            href="/japan">Japan</a>
                        <a class="dropdown-item"
                            href="/france">France</a>
                        <a class="dropdown-item"
                            href="/garmany">Garmany</a>
                    </div>
                </li>
                <div class="btn-group dropleft">
                    <button type="button"
                        class="btn"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                        Created By
                    </button>
                    <div class="dropdown-menu"
                        aria-labelledby="navbarDropdown">
                        <a class="dropdown-item"
                            href="https://github.com/omkarsutar9702"
                            target="_blank"><img src="{{url_for('static' , filename='images/github.png')}}"
                                class="mr-2">Omkar Sutar</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item"
                            href="https://github.com/Ved28Sawant"
                            target="_blank"><img src="{{url_for('static' , filename='images/github.png')}}"
                                class="mr-2">Vedang Sawnat</a>
                    </div>
                </div>
                </li>
            </ul>
        </div>
    </nav>
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            duration: 1500,
        });
    </script>
</body>

</html>